* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 40px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header div:nth-child(2) {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

header div:nth-child(1) {
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

header div ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    list-style-type: none;
}

header div ul li {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.644);
    font-family: sans-serif;
}

header div ul li a {
    color: rgba(0, 0, 0, 0.644);
}

header div:nth-child(1) ul li:nth-child(1) {
    color: rgba(255, 0, 0, 0.774);
    font-size: 20px;
    font-family: sans-serif;
}

header div:nth-child(1) img {
    width: 3rem;
}

header div:nth-child(2) button {
    font-size: 14px;
    padding: 12px 16px;
    border: none;
    border-radius: 19px;
    background-color: red !important;
    color: #fff !important;
    font-weight: 600;
    text-align: center;
}

header div:nth-child(2) button:nth-of-type(2) {
    background-color: rgba(128, 128, 128, 0.473) !important;
    color: #000 !important;
}

.fa-solid {
    display: none !important;
}

#sectionOne {
    min-height: 600px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

#sectionOne h1 {
    padding-top: 100px;
    font-size: 70px;
    font-family: sans-serif;
}

#forImage {
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow: hidden;
    margin-top: 70px;
}

#forImage img {
    border-radius: 30px;
}

#img1,
#img6 {
    animation: move 1s infinite;
}

#img2 {
    animation: move 2s infinite;
}

#img3 {
    animation: move 2.8s infinite;
}

#img4 {
    animation: move 3s infinite;
}

#img5 {
    animation: move 3.7s infinite;
}

/* ==========sectionTwo============= */
#sectionTwo {
    background-color: rgb(255, 253, 146);
    text-align: center;
    width: 100%;
}

#sectionTwo div div {
    width: 50%;
}

#forBoth {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}

#forCenterImages {
    padding-bottom: 100px;
    width: 900px;
    margin: auto;
}

#forCenterImages img {
    width: 100%;
}

#forSearch {
    padding-top: 200px;
    color: #c31952;
}

#forSearch h1 {
    font-size: 60px;
    font-family: sans-serif;
}

#forSearch p {
    font-size: 25px;
    line-height: 35px;
    font-family: sans-serif;
}

#forSearch button {
    padding: 15px;
    border-radius: 29px;
    border: none;
    background-color: #e60023;
    color: #f597a5;
    font-weight: 800;
    margin-top: 25px;
}

#forSearch button:hover {
    background-color: #f597a5;
    color: #e60023;
    transition: 1s;
}

/* ==============sectionThree============== */
#sectionThree {
    width: 100%;
    max-height: 90vh;
    background-color: #dafff6;
    padding-top: 100;
}

#forSaveAndFern {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

#forSave {
    align-items: center;
    text-align: center;
}

#forSave h1 {
    font-size: 60px;
    color: #006b6c;
    font-family: sans-serif;
}

#forSave p {
    font-size: 25px;
    line-height: 35px;
    color: #006b6c;
    font-family: sans-serif;
}

#forSave button {
    padding: 15px;
    border-radius: 29px;
    border: none;
    background-color: #e60023;
    color: #f597a5;
    font-weight: 800;
    margin-top: 25px;
}

#forSave button:hover {
    background-color: #f597a5;
    color: #e60023;
    transition: 1s;
}

#forFern {
    background-image: url(IMAGE/future-home-vibes-55a673b9.png);
    height: 100%;
    width: 350px;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#forFern h1 {
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    padding-top: 40px;
}

#forFernImages {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    gap: 10px;
}

#forFernImages img {
    width: 90px;
    padding-top: 40px;
}

#forFernBedroomDeck {
    display: flex;
    gap: 20px;
}

#forBedroomAndDeck {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bedroom {
    background-image: url(./IMAGE/scandinavian-bedroom-917ad89c\ -\ Copy.png);
    padding-left: 20px;
    padding: 20px;
    align-items: center;
    text-align: left;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

#bedroom h1 {
    align-items: center;
    padding-top: 70px;
    line-height: 30px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}

#theDeck {
    background-image: url(./IMAGE/deck-of-dreams-fb527bf1\ -\ Copy.png);
    padding: 38px;
    align-items: center;
    text-align: left;
    margin-top: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

#theDeck h2 {
    width: 110px;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-right: 25px;
    color: white;
    font-family: sans-serif;
}

#forbath {
    position: relative;
    justify-content: space-evenly;
    bottom: 0;
    margin-left: 100px;
    display: none;
}

#serveMyDrink {
    background-image: url(./IMAGE/serve-my-drinks-263547ea.png);
    padding: 100px;
    align-items: center;
    right: 0;
    bottom: -170px;
    position: absolute;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;

}

#bathroom {
    background-image: url(./IMAGE/bathroom-upgrade-48ebb8fc\ -\ Copy.png);
    padding: 100px;
    align-items: center;
    width: 200px;
    right: 0;
    margin-right: -400px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

@keyframes move {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(-0px);
    }
}

/* =============sectionFOUR============= */
#sectionFour {
    background-color: #ffe2eb;
    width: 100%;
    min-height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionFour div {
    width: 50%;
    min-height: 1px;
}

#sectionFour div:nth-of-type(1) .bg {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#sectionFour div:nth-of-type(1) .creatorcover {
    width: 18%;
    position: absolute;
    left: 0;
    margin-left: 8%;
    margin-top: 5%;
}

#sectionFour div:nth-of-type(1) .avatar {
    position: absolute;
    left: 0;
    width: 8%;
    margin-top: 32%;
    margin-left: 5%;
}

#sectionFour div:nth-of-type(1) p {
    color: white;
    position: absolute;
    margin-top: -10%;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 13%;
}

#sectionFour div:nth-of-type(1) p span {
    font-weight: 100;
}

#sectionFour div:nth-of-type(2) {
    color: rgb(195, 47, 0);
}

#sectionFour div:nth-of-type(2) h1 {
    font-size: 4.2em;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 50px;
}

#sectionFour div:nth-of-type(2) p {
    font-size: 25px;
    line-height: 35px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px 3em;
}

#sectionFour div:nth-of-type(2) button {
    padding: 15px;
    border-radius: 29px;
    border: none;
    background-color: #e60023;
    color: #f597a5;
    font-weight: 800;
    margin-top: 25px;
    display: block;
    margin: auto;
}

#sectionFour div:nth-of-type(2) button:hover {
    background-color: #f597a5;
    color: #e60023;
    transition: 1s;
}

/* =============sectionFive============== */
#sectionFive {
    background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.512)), url(./IMAGE/pint.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#sectionFive div {
    width: 50%;
}

#sectionFive div:nth-of-type(1) h1 {
    font-size: 4.2em;
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    padding: 100px;
    color: white;
}

#sectionFive div:nth-of-type(2)#SignUp {
    background-color: white;
    width: 38%;
    border-radius: 20px;
}

#sectionFive div:nth-of-type(2)#SignUp img {
    width: 3rem;
    margin: auto;
    display: block;
}

#sectionFive div:nth-of-type(2)#SignUp h1 {
    font-size: 32px;
    text-align: center;
    font-family: sans-serif;
}

#sectionFive div:nth-of-type(2)#SignUp p {
    font-family: sans-serif;
    line-height: 40px;
    text-align: center;
}

.forInputs {
    display: flex;
    flex-direction: column;
    margin: auto;
    line-height: 30px;
}

.forInputs input {
    padding: 8px;
    border-radius: 15px;
    line-height: 29px;
    font-weight: 100;
    border-color: #00000026;
}

.forInputs label {
    font-family: sans-serif;
    font-size: 13px;
    padding-left: 10px;
}

.forInputs button {
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: #e60023;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 800;
}

.forInputs button:hover {
    background-color: rgba(255, 0, 0, 0.793);
}

.FacebokBtn {
    background-color: #1877f2;
    padding: 5px;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    align-items: center;
}

.FacebokBtn i {
    font-size: 25px;
    margin-right: 8px;
    text-align: center;
    padding: 0;
}

@media (max-width:340px) {
    #forSearch h1 {
        font-size: 30px !important;
    }

    #forSearch p {
        font-size: 16px !important;
    }

    .perfectLips {
        max-height: 300px !important;
    }

    #sectionFour div:nth-of-type(2) p {
        font-size: 17px !important;
        line-height: 35px;
        font-family: sans-serif;
        text-align: center;
        padding: 0;
    }
}

@media (max-width:434px) {
    #forCenterImages {
        margin-left: -40px !important;
        width: 270px !important;
    }

    #forCenterImages img {
        width: 130% !important;
    }

    #forSearch {
        margin-right: 100px;
        flex-wrap: nowrap;

    }

    #forSearch h1 {
        font-size: 35px !important;
    }

    #forSearch p {
        font-size: 14px !important;
    }

    #centerImage {
        width: 190px !important;
    }

    .creatorAvatar {
        position: absolute;
        top: 150px;
        width: 50px !important;
    }

    #leftImage {
        width: 80px !important;
        left: 100px;
    }

    #topRight {
        width: 80px !important;
        top: 40px;
        margin-left: 160px;

    }

    #right {
        width: 80px !important;
        bottom: -140px;
        margin-left: 160px;
    }

    #forSave h1 {
        font-size: 33px !important;
        color: #006b6c;
        font-family: sans-serif;
    }

    #forSave p {
        font-size: 15px !important;
        line-height: 35px;
        color: #006b6c;
        font-family: sans-serif;
    }

    #forFern {
        width: 100px !important;

    }

    #forFern h1 {
        font-size: 16px !important;
    }

    #forFernImages img {
        width: 40px !important;
        align-items: center;

    }

    #bedroom {
        padding: 10px;
        align-items: center;
        text-align: left;
        width: 130px !important;
    }

    #bedroom h1 {
        font-size: 10px !important;
        margin-top: -20px;
    }

    #forSaveAndFern {
        flex-wrap: wrap;
        gap: 30px;
    }

    #forBedroomAndDeck {
        display: none;
    }

    #forFernBedroomDeck {
        flex-direction: column !important;
    }

    #sectionFour div:nth-of-type(1) p {
        font-size: .7em;
        margin-left: 27%;
        margin-top: -55%;
    }

    #sectionFour div:nth-of-type(2) h1 {
        font-size: 2.2rem !important;
        line-height: 40px !important;
        padding: 0;
    }

    #sectionFour div:nth-of-type(2) p {
        font-size: 19px;
        line-height: 35px;
        font-family: sans-serif;
        text-align: center;
        padding: 0;
    }

    #sectionFive div:nth-of-type(1) h1 {
        font-size: 3em;
        font-family: sans-serif;
        text-align: center;
        height: 30%;
        margin-top: 30px !important;
        padding: 0;
        color: white;
    }
}

@media (max-width:552px) {
    #sectionOne h1 {
        font-size: 40px !important;
    }

    #forSave h1 {
        font-size: 45px;
        color: #006b6c;
        font-family: sans-serif;
    }

    #forSave p {
        font-size: 20px;
        line-height: 35px;
        color: #006b6c;
        font-family: sans-serif;
    }

    #forFern {
        width: 230px !important;
    }

    #forFern h1 {
        font-size: 20px;
    }

    #forFernImages img {
        width: 55px !important;
        align-items: center;

    }

    #bedroom {
        padding: 10px;
        align-items: center;
        text-align: left;
        width: 145px !important;
    }

    #bedroom h1 {
        font-size: 10px !important;
        margin-top: -20px;
    }

    #forSaveAndFern {
        flex-wrap: wrap;
        gap: 30px;
    }

    #forSee h1 {
        font-size: 50px;
        font-family: sans-serif;
        color: #c32f00;
        line-height: 60px;
        font-weight: 600;
    }

    #forSee p {
        font-size: 20px;
        font-family: sans-serif;
        color: #c93716;
        line-height: 35px;
    }

    #sectionFour div:nth-of-type(2) h1 {
        font-size: 2rem;
        line-height: 60px;
        padding: 0;
    }

    #sectionFour div:nth-of-type(2) {
        font-size: 20px;
        line-height: 35px;
        font-family: sans-serif;
        text-align: center;
        padding: 0;
    }

    #sectionFive div:nth-of-type(2)#SignUp {
        background-color: white;
        width: 300px;
        border-radius: 20px;
    }

    #sectionFive div:nth-of-type(2)#SignUp {
        background-color: white;
        width: 310px !important;
        border-radius: 20px;
    }
}

@media (max-width:767px) {
    header div:nth-child(2) {
        display: none !important;
    }

    header div:nth-child(1) ul li:nth-child(2) {
        display: none;
    }

    header div:nth-child(1) ul li:nth-child(3) {
        display: none;
    }

    .fa-solid {
        display: block !important;
    }

    #sectionOne h1 {
        font-size: 50px;
    }

    #forImage img {
        width: 200px;
    }

    #forSearch h1 {
        font-size: 45px;
    }

    #forSearch p {
        font-size: 18px;
    }

    #sectionFour div:nth-of-type(2) h1 {
        font-size: 3.5rem;
        padding: 0;
    }
}

@media (max-width: 1048px) {
    #forBoth {
        display: block;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
        align-items: center;
    }

    #forImage {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    #forCenterImages {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #forCenterImages img {
        width: 130%;
    }

    #forSearch {
        margin: auto;
        width: 100% !important;
        padding-top: 10px;
    }

    #forPerfectAndSee {
        display: block;
    }

    #sectionFour {
        display: block;
    }

    #sectionFour div {
        margin: auto;
        width: 100%;
    }

    #sectionFour div:nth-of-type(2) {
        padding-top: 100px;
    }

    #sectionFour div:nth-of-type(1) .creatorcover {
        margin-left: 25%;
    }

    #sectionFour div:nth-of-type(1) .avatar {
        margin-left: 22%;
    }

    #sectionFour div:nth-of-type(1) p {
        margin-left: 30%;
        margin-top: -57%;
    }

    #sectionFive {
        display: block;
    }

    #sectionFive div {
        margin: auto;
        width: 90%;
    }

    #sectionFive div:nth-of-type(2)#SignUp {
        background-color: white;
        width: 370px;
        border-radius: 20px;


    }

    .forInputs {
        padding: 30px;
    }
}

@media (max-width: 1064px) {
    #sectionThree {
        width: 100%;
        max-height: 160vh;
        background-color: #dafff6;
        padding-bottom: 40px;
    }

    #forFern {
        width: 300px;
    }

    #forFernImages {
        margin-left: 10px;
    }

    #forFernImages img {
        width: 80px;
        align-items: center;
    }

    #bedroom {
        padding: 10px;
        align-items: center;
        text-align: left;
        width: 180px;
    }

    #bedroom h1 {
        font-size: 20px;
    }

    #forSaveAndFern {
        flex-wrap: wrap;
        gap: 30px;
    }

    .forscout {
        position: absolute;
        bottom: 0;
        margin-bottom: 47px;
        margin-left: 120px;
        font-family: sans-serif;
        color: white;
    }

    .creatorAvatar {
        position: absolute;
        bottom: 0;
        margin-bottom: 70px;
        margin-left: 26px;
    }

    .forInputs {
        display: flex;
        flex-direction: column;
        margin: auto;
        line-height: 20px;
    }

    .forInputs button {
        margin-top: 20px;
        padding: 5px;
        border-radius: 20px;
        background-color: #e60023;
        border: none;
        color: white;
        font-size: 12px;
        font-weight: 800;
    }

    .FacebokBtn {
        background-color: #1877f2;
        padding: 5px;
        color: white;
        border-radius: 20px;
        border: none;
        color: white;
        font-size: 12px;
        font-weight: 800;
        text-align: center;
        align-items: center;
        font-family: sans-serif;
        margin-top: 30px;
    }
}